<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>AJ9997_02_standard</string>
		<string>AJ9997_25_outfit</string>
		<string>AJ9997_42_detail</string>
	</array>
	<array>
		<string>BJ9572_01_standard</string>
		<string>BJ9572_41_detail</string>
		<string>BJ9572_42_detail</string>
		<string>BJ9572_43_detail</string>
	</array>
	<array>
		<string>S99541_03_standard</string>
		<string>S99541_04_standard</string>
		<string>S99541_05_hover_standard</string>
		<string>S99541_42_detail</string>
	</array>
	<array>
		<string>BK6723_03_standard</string>
		<string>BK6723_04_standard</string>
		<string>BK6723_05_hover_standard</string>
		<string>BK6723_25_outfit</string>
	</array>
	<array>
		<string>AZ5200_01_standard</string>
		<string>AZ5200_02_standard</string>
		<string>AZ5200_43_detail</string>
	</array>
	<array>
		<string>AZ9608_02_standard</string>
		<string>AZ9608_41_detail</string>
		<string>AZ9608_42_detail</string>
	</array>
	<array>
		<string>AZ9609_01_standard</string>
		<string>AZ9609_02_standard</string>
		<string>AZ9609_41_detail</string>
		<string>AZ9609_42_detail</string>
		<string>AZ9609_43_detail</string>
	</array>
	<array>
		<string>G83963_01_standard</string>
		<string>G83963_02_standard</string>
		<string>G83963_42_detail</string>
		<string>G83963_43_detail</string>
	</array>
	<array>
		<string>BK3113_01_laydown</string>
		<string>BK3113_02_laydown</string>
		<string>BK3113_25_outfit</string>
	</array>
	<array>
		<string>BP6116_01_laydown</string>
		<string>BP6116_02_laydown</string>
		<string>BP6116_23_hover_model</string>
		<string>BP6116_42_detail</string>
	</array>
	<array>
		<string>S99240_01_laydown</string>
		<string>S99240_22_model</string>
		<string>S99240_41_detail</string>
	</array>
	<array>
		<string>AZ7793_01_laydown</string>
		<string>AZ7793_02_laydown</string>
		<string>AZ7793_41_detail</string>
	</array>
	<array>
		<string>BB1266_03_standard</string>
		<string>BB1266_04_standard</string>
		<string>BB1266_05_standard</string>
	</array>
	<array>
		<string>S82247_01_standard</string>
		<string>S82247_02_standard</string>
		<string>S82247_05_standard</string>
		<string>S82247_41_detail</string>
	</array>
	<array>
		<string>S82249_01_standard</string>
		<string>S82249_02_standard</string>
		<string>S82249_03_standard</string>
		<string>S82249_04_standard</string>
		<string>S82249_05_standard</string>
	</array>
	<array>
		<string>BB0007_01_standard</string>
		<string>BB0007_02_standard</string>
		<string>BB0007_05_standard</string>
		<string>BB0007_41_detail</string>
		<string>BB0007_42_detail</string>
	</array>
	<array>
		<string>BK5864_02_laydown</string>
		<string>BK5864_22_model</string>
		<string>BK5864_23_hover_model</string>
		<string>BK5864_41_detail</string>
	</array>
	<array>
		<string>AZ8128_01_laydown</string>
		<string>AZ8128_23_hover_model</string>
		<string>AZ8128_42_detail</string>
		<string>AZ8128_43_detail</string>
	</array>
	<array>
		<string>B45897_01_laydown</string>
		<string>B45897_02_laydown</string>
		<string>B45897_43_detail</string>
	</array>
	<array>
		<string>AJ8830_01_laydown</string>
		<string>AJ8830_02_laydown</string>
		<string>AJ8830_23_hover_model</string>
		<string>AJ8830_41_detail</string>
	</array>
</array>
</plist>
